#!/usr/bin/make -f  
%:  
	dh $@

override_dh_auto_install:
	install -D -m 0655 modbusd.service $$(pwd)/debian/modbusd/etc/systemd/system/modbusd.service
	install -D -m 0755 modbusd $$(pwd)/debian/modbusd/usr/bin/modbusd
	install -D -m 0755 gpio.so $$(pwd)/debian/modbusd/usr/lib/gpio.so

